{% load staticfiles %} {% load leaflet_tags %}


<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Roadsafety | Home Page</title>
    {% leaflet_css %} {% leaflet_js %}
</head>

<body>
    killo Billo
    <div id="mapid" style="width: 100%; height: 600px"></div>


    <script>
        var mymap = L.map('mapid').setView([57.74, 11.94], 13);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(mymap);

        L.Routing.control({
            waypoints: [
                L.latLng(23.520111, 87.355440),
                L.latLng(23.546348, 87.288245)
            ]
        }).addTo(mymap);
    </script>

</body>

</html>
